body{
  background: #120044; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f7797d, #180050, #1a0049); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #270041, #000438, #450053); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  border: 3px solid #f1f1f1;
}
.tcard{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
  border: 5px solid #f1f1f1;
}
.tbutton2{
  margin-top: -200px;
  padding-left: 350px;
}
.tbutton{
  width: 20rem;
  text-align: center;
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1000ms; /* don't forget to set a duration! */
  margin-top: 30px;
  margin-left: 10px;
  border: 2px solid #f1f1f1;
  background: linear-gradient(to left, #96009b, #000cb4, #450053); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.ctext{
  text-align: center;
  color: azure;
  font-family: Arial, sans-serif;
}
.cimg{
  border-radius: 30px;
}
.timg{
  width: 18rem;
  border-radius: 30px;
  scale:150%;
  margin-left: 400px;
  padding-top: 75px;
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 750ms; /* don't forget to set a duration! */
}
.TPcard{
  width: 18rem;
  margin-left: 175px;
  padding-top: 175px;
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 750ms; /* don't forget to set a duration! */
}
.tpcard{
  width: 18rem;
  margin-left: 1275px;
  margin-top: -1550px;
  margin-bottom: -600px;
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 750ms; /* don't forget to set a duration! */
}
.stock{
  width: 18rem;
  margin-left: 125px;
  margin-top: 150px;
  margin-bottom: -150px;
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 750ms; /* don't forget to set a duration! */
}
.iimg{
  margin-top: -50px;
  margin-bottom: -200px;
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 750ms; /* don't forget to set a duration! */
}


.harga{
  width: 18rem;
  margin-left: 0px;
  margin-top: 200px;
  margin-bottom: -205px;
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 750ms; /* don't forget to set a duration! */
}


.Ttitle{
  text-align: left;
  width: 65rem;
  color: azure;
  font-family: Arial, sans-serif;
  padding-left: 725px;
  margin-top: -75px;
  padding-bottom: 375px;
  scale:150%;
  animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 900ms; /* don't forget to set a duration! */
}
pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
} 
.deskripsi{
  width: 10px;
  text-align: left;
  resize: none;
  color: azure;
  margin-top: 450px;
  margin-bottom: 100px;
  margin-left: 480px;
  scale: 125%;
  width: 75rem;
  height: 50rem;
  background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
}
.salman{
  scale: 15%;
  margin-right: 80px;
  margin-bottom: 50px;
  margin-top: -40px;
  padding-bottom: 5px;
  padding-top: 50px;
}
.Tprice{
  text-align: left;
  color: azure;
  font-family: Arial, sans-serif;
  padding-left: 890px;
  margin-top: -400px;
  scale:250%;
  animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1100ms; /* don't forget to set a duration! */
}
.Tstar{
  padding-right: 250px;
  margin-top: -650px;
  scale:200%;
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1000ms; /* don't forget to set a duration! */
}
.end{
  margin-top: 1000px;
}
strong{
  color: azure;
}
i {
  color: gold;
}
.profil{
  animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1000ms; /* don't forget to set a duration! */
}
.nama{
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1500ms; /* don't forget to set a duration! */
}
.nav{
  margin-left: -575px;
  animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 500ms; /* don't forget to set a duration! */
}
.navbar .nav-link{
  padding: 5px 100px 5px 100px;
  font-weight: 500;
  text-decoration: none;
}
#root {
  margin: 0 auto;
  padding: 0rem;
}
h1{
  color: azure;
}

h3{
  color: azure;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}
